* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f3ef;
  color: #4b3f35;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
}

.container {
  background: #fffaf5;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(100, 80, 60, 0.08);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.5px;
}

p {
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  color: #6d5d50;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

label {
  font-weight: 500;
}

select, input {
  padding: 10px;
  border: 1px solid #e0d6cf;
  border-radius: 6px;
  background-color: #fefcfb;
  color: #4b3f35;
}

button {
  padding: 10px;
  border: none;
  background-color: #d7bba8;
  color: #4b3f35;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #c4a994;
}

.bill-section {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e0d6cf;
}

#total {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #4b3f35;
}

.checkout {
  width: 100%;
  margin-top: 10px;
  background-color: #d7bba8;
}
.cont_two{
  display: none;
  height: 300px;
  background: #fffaf5;;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(100, 80, 60, 0.08);
  text-align: center;
  justify-content:center;
}
#cont{
  text-align: center;
  margin-top: 80px;
}